/* Northwestern Brand */
/* https://www.northwestern.edu/brand/visual-identity/color-palettes/ */
 
@layer theme {
  :root,
  :host {
    /* Northwestern Purple */
    --color-accent-50: #ffffff;
    --color-accent-100: #e4e0ee; /* Purple 10 */
    --color-accent-200: #ccc4df; /* Purple 20 */
    --color-accent-300: #b6acd1; /* Purple 30 */
    --color-accent-400: #a495c3; /* Purple 40 */
    --color-accent-500: #9380b6; /* Purple 50 */
    --color-accent-600: #765da0; /* Purple 70 */
    --color-accent-700: #4e2a84; /* Northwestern Purple */
    --color-accent-800: #401f68; /* Purple 120 */
    --color-accent-900: #200b48; /* Purple 160 */
 
    /* Northwestern Rich Black */
    --color-gray-50: #ffffff;
    --color-gray-100: #d8d6d6; /* Rich Black 10% */
    --color-gray-200: #bbb8b8; /* Rich Black 20% */
    --color-gray-300: #a29f9e; /* Rich Black 30% */
    --color-gray-400: #8a8585; /* Rich Black 40% */
    --color-gray-500: #716c6b; /* Rich Black 50% */
    --color-gray-600: #484342; /* Rich Black 70% */
    --color-gray-700: #342f2e; /* Rich Black 80% */
    --color-gray-800: #1a1817; /* Rich Black 90% */
    --color-gray-900: #000000; /* Rich Black */
 
    /* Additional Variables */
    --color-northwestern-purple: var(--color-accent-700);
    --color-accent-default: var(--color-northwestern-purple);
    --color-gray-default: var(--color-gray-900);
    --color-gray-muted: var(--color-gray-700);
  }
}
